.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
    padding: 10rem;

    font-size: 3rem;
    text-align: center;
}

@media (max-width: 1050px){
    .container {
        font-size: 1rem;
        padding: 1rem;
        h1 {
            width: 90vw;
            text-align: center;
        }
    }
}