.updateAccountContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding-top: 10rem;

    gap: 5rem;

    .imageArea {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;

        .changeImageDropzone {
            display: flex;
            align-items: center;
            flex-direction: column;
            background: none;
            border: 0;
            cursor: pointer;
            gap: 1rem;

            img {
                height: 20rem;
                width: 20rem;
                border-radius: 100%;
            }

            p {
                color: #c4c4c4;
                font-size: 1.4rem;
                font-weight: 700;
            }
        }

        .removeImageButton {
            width: 40rem;
            border: 0;
            height: 5rem;
            border-radius: 5px;
            font-size: 1.7rem;
            font-weight: 700;
            color: #fff;
            background-color: var(--dark-pink);
            cursor: pointer;
        }

        .removeImageButton:hover {
            opacity: 0.5;
        }

        #removeImage {
            background-color: var(--dark-green);
        }
    }

    .textArea {
        display: flex;
        flex-direction: column;
        
        input {
            width: 60rem;
            height: 5rem;
            border: 0;
            border-radius: 5px;
            background-color: #c4c4c4;
            padding: 1rem;
            font-size: 1.5rem;
            font-weight: 700;
        }

        label {
            color: #c4c4c4;
            font-size: 2rem;
        }
    }

    .submitButton {
        width: 40rem;
        height: 6rem;
        background-color: var(--green);
        border: 0;
        border-radius: 5px;
        color: #fff;
        font-size: 2rem;
        font-weight: 700;
        cursor: pointer;
    }

    .submitButton:hover {
        opacity: 0.5;
    }

    a {
        font-size: 1.5rem;
        color: #25F4EE;
        text-decoration: underline;
    }
}

@media (max-width: 1050px){
    .updateAccountContainer {
        padding-top: 0;
        gap: 3rem;

        .imageArea {
            gap: 2rem;

            .changeImageDropzone {
                gap: 1rem;

                img {
                    height: 10rem;
                    width: 10rem;
                }

                p {
                    width: 90vw;
                    font-size: 1rem;
                    text-align: center;
                }
            }

            .removeImageButton {
                width: 90vw;
                height: 3rem;
                font-size: 1rem;
            }
        }

        .textArea {
            input {
                width: 90vw;
                height: 3rem;
                font-size: 1.2rem;
            }

            label {
                font-size: 1.3rem;
            }
        }

        .submitButton {
            width: 90vw;
            font-size: 1.2rem;
            height: 4rem;
        }

        a {

            font-size: 1rem;
        }
    }
}