.loginContainer {
    background-color: #20282C;
    height: 90rem;
    width: 85rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;

    position: absolute;
    top: 10px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    align-self: center;

    border-radius: 20px;

    padding: 2rem;
    padding-bottom: 5rem;


    h1 {
        color: #FFF;
        font-size: 4.5rem;
        font-weight: 700;
        font-family: 'Fira Code';
    }

    form {
        display: flex;
        flex-direction: column;
        align-items:center;
        font-size: 2rem;
        text-align: center;
        margin-top: 5rem;
        gap: 3rem;

        section {
            display: flex;
            flex-direction: column;
            color: #FFF;
            align-items: center;
            font-family: 'Fira Code';
            font-weight: 500;
            width: 60rem;
            
            label {
                align-self: flex-start;
            }
    
            input {
                background-color: #C4C4C4;
                border: 0;
                border-radius: 10px;
                width: 100%;
                margin-bottom: 10px;
                height: 5rem;
                font-family: 'Fira Code';
                font-weight: 700;
                font-size: 2rem;
                padding-left: 1rem;
                color: #20282C;
                padding-right: 1rem;
            }
            
        }
        button {
            border: 0;
            border-radius: 10px;
            height: 6rem;
            width: 50%;
            background-color: #0B8308;
            color: #FFF;
            font-family: 'Fira Code';
            font-weight: 700;
            font-size: 2.6rem;
        }
        button:hover{
            opacity: 0.5;
        }
        .optionsContainer {
            display: flex;
            width: 60rem;
            justify-content: space-between;
            margin-top: 2rem;
            
            a {
                font-size: 1.3rem;
                color: #25F4EE;
                font-family: 'Fira Code';
                font-weight: 700;
                
            }
    
            a:hover{
                opacity: 0.5;
            }
            
        }
    }


}

@media (max-width: 1050px){
    .loginContainer {
        width: 100%;
        height: auto;
        border-radius: 0px;
        background: none;

        h1 {
            font-size: 3rem;
        }

        form {
            width: 100%;
            height: 100%;
        
            section {
                width: 90vw;
    
                label {
                    font-size: 1.7rem;
                }
    
                input {
                    height: 4rem;
                    font-size: 1.4rem;
                }
            }
    
            button {
                width: 70%;
                font-size: 2rem;
                height: 5rem;
            }
    
        }
    }

    .optionsContainer {
        flex-direction: column;
        gap: 2rem;
    }
}