* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 200ms;
    font-family: 'Fira Code', monospace;
}

:root{
    --background-color: #181A1B;
    --dark-green: #042628;
    --green: #0B8308;
    --cyan: #086D83;
    --red: #F44336;
    --grey: #20282C;
    --dark-grey: #101213;
    
    font-size: 60%
}

@media (pointer:none), (pointer:coarse) {
    :root {
        font-size: 100%;
    }
}