.alertContainer {

    height: 15rem;
    width: 50rem;

    position: fixed;
    bottom: 4rem;
    right: 4rem;
    
    background-color: #C4C4C4;
    border-radius: 15px;
    padding: 2rem;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 30;

    img {
        border-radius: 100%;
        height: 10rem;
        width: auto;
    }

    section {
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        font-weight: 700;
        font-size: 1.7rem;
        gap: 1rem;

    }
    .closeButtonContainer {
        height: 100%;
        button {
            border: 0;
            background: none;
            height: 3rem;
            width: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            
            label {
                color: var(--red);
                font-size: 3rem;
                font-weight: 700;
            }
        }
    
        button:hover {
            opacity: 0.5;
        }
    }

    .alertFooter {
        background-color: var(--red);
        height: 1.7rem;
        position: absolute;
        bottom: 0;
        left: 0;
        width: auto;
        right: 0;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;

        div {
            height: 1.7rem;
            background-color: var(--green);
            border-bottom-left-radius: 15px;
        }
    }
}

.errorSection {
    color: var(--red);
}

.notificationSection {
    color: var(--green)
}

@media (max-width: 1050px){
    .alertContainer {
        padding: 0.5rem;
        gap: 0.5rem;
        height: 5rem;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        border-radius: 0;

        img {
            height: 3rem;
        }

        .alertFooter {
            bottom: -0.6rem;
            height: 0.6rem;
            border-radius: 0;

            div {
                height: 0.6rem;
                border-radius: 0;
            }
        }

        section {
            height: 100%;
            font-size: 0.7rem;
            width: 100%;
        }

        .closeButtonContainer {
            display: flex;
            justify-content: center;
            align-items: center;

        }
    }
}