.accountOptionsContainer {
    display: flex;
    flex: 1;
    flex-direction: row;

    .pageSelectorContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        background-color: var(--dark-grey);
        width: 25rem;
        height: 100vh;

        .goToHomeButton{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 4rem;
            background-color: black;
            width: 100%;
            gap: 1rem;

            img {
                height: 10rem;
                width: 10rem;
            }

            h1 {
                color: #fff;
                font-size: 2.5rem;
            }
        }

        .navigationContainer {
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
            text-align: center;
            gap: 2rem;

            a {
                font-size: 1.5rem;
                color: #c4c4c4;
                font-weight: 700;
                border-bottom: solid 1px #c4c4c4;
                width: 20rem;
                padding: 0.5rem;
            }

            a:hover {
                background-color: var(--grey);
                opacity: 0.5;
            }
        }
    }

    .router {
        display: flex;
        position: absolute;
        right: 0;
        top: 0;
        flex: 1;
        width: calc(100vw - 25rem);
    }
}

@media (max-width: 1050px){

    .accountOptionsContainer {
        width: 100vw;
        flex-direction: column;

        .pageSelectorContainer {
            display: flex;
            height: 12rem;
            padding-bottom: 2rem;
            width: 100%;
            
            .goToHomeButton {
                flex-direction: row;
                padding: 1rem;

                img {
                    height: 3rem;
                    width: 3rem;
                }

                h1 {
                    font-size: 1.5rem;
                }
            }

            .navigationContainer {
                margin-top: 1rem;
                gap: 1rem;

                a {
                    font-size: 1rem;
                    padding: 0.25rem;
                }
            }
        }

        .router {
            position: initial;
            width: 100vw;
            margin-top: 15rem;
        }
    }
}