.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pageHeader {
    width: 100%;
    height: 16rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #fff;
    align-items: center;
    padding: 4rem;

    .LogoContainer{

        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 3rem;
        font-weight: 700;
        color: #fff;

        img {
            height: 12rem;
            width: 12rem;
            margin-right: 2rem;
        }

    }

}

.videoListContainer{
    display: flex;
    width: 100rem;
    margin-top: 5rem;
    flex-direction: column;
    align-items: center;

    header {
        display: flex;
        width: 70%;
        justify-content: space-between;
        height: 6rem;
        background-color: #fff;
        gap: 2px;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            width: 100%;
            font-weight: 700;
            font-size: 2rem;
            background: var(--background-color);
            border: 0;

            color: #FFF
        }

        a:hover{
            opacity: 0.9;
        }

        .disabledButton {
            color: #6A6A6A
        }
    }

    .videosRouter {
        width: 100%;
        margin-top: 2rem;
    }
}

footer {
    position: fixed;
    bottom: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10rem;
    width: 100%;
    align-items: center;
    padding: 2rem;

    .createVideoButton {
        height: 9rem;
        width: 9rem;
        border-radius: 100%;
        border: 0;
        background-color: var(--green);
        color: #fff;
        font-size: 5rem;
        font-weight: 700;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            height: 8rem;
            width: 8rem;
        }
    }

    .createVideoButton:hover {
        opacity: 0.7;
    }
}

body {
    background-color: var(--background-color);
}

@media (max-width: 1050px){

    .pageHeader {


        flex-direction: column;
        padding: 2rem;
        height: 12rem;
        justify-content: start;
        z-index: 20;
        margin-bottom: 3rem;


        .LogoContainer {
            img {
                height: 4rem;
                width: 4rem;
            }

            h1 {
                font-size: 2rem;
            }
        }
    }

    .videoListContainer {
        margin-top: 1rem;
        width: 100%;

        header {
            height: 4rem;
            width: 100%;
            a {
                font-size: 1rem;
                display: flex;
                text-align: center;
            }
        }
    }

    footer {
        bottom: 0;
        width: 100vw;
        display: flex;
        padding: 0;
        flex-direction: column;
        height: auto;
        position: fixed;
        bottom: 0;

        .createVideoButton {
            display: flex;
            height: 3rem;
            width: 100vw;
            border-radius: 0;
            font-size: 2.5rem;
        }
    }
}